/* Stylesheet for NerdAron.com */
* {
	margin: 0; /* Allows page to span full width - body has default 8px */
}
html, body {
	height: 100%; /* Move footer to bottom even if content not enouph to fill page */
}
#container {
	background-color: black;
	position: relative; /* Make position relative for footer to reference */
	min-height: 100%; /* Will push footer to the bottom in relation to container */
	width: 98%;
	margin: auto;
}
header {
	background-color: red;
	position: fixed; /* Fix position at top */
	width: 98%;
	left: 1%; /* Shift to the right to center as content has width of 98% */
	height: 2em;
	z-index: 100; /* Move header to the top */
}
main {
	background-color: white;
	width: 98%;
	margin: auto;
	padding-top: 2em; /* Due to header height */
	padding-bottom: 2em; /* Due to footer height */
}
footer {
	background-color: blue;
	position: absolute; /* Position relative to #container */
	bottom: 0; /* Position at bottom */
	width: 100%;
	height: 2em;
}